.containerGroup {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 80%;
}

.action {
  position: fixed;
  top: 85vh;
  right: 100px;
}

.footer {
  position: fixed;
  top: 94vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 700px) {
  .containerGroup {
    flex-direction: column;
  }


}